body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #d8dbe2;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #375372;
  font-size: 34px;
  letter-spacing: -2px;
  line-height: 0.8;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #375372;
}
h3 {
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 16px;
  color: #1b1b1e;
  font: Arial, sans-serif;
  text-wrap: wrap;
  text-align: center;
  width: 60%;
}

.actionsection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.actionsubsection {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

.actioncards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 130px;
  border: 1px solid #a9bcd0;
  border-radius: 5px;
  padding: 6px;
}

.headersection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.section {
  padding: 12px;
}
