body {
  width: 100%;
  margin: auto;
  padding: 0;
  background-color: #d8dbe2;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #000000;
  font-size: 62px;
  letter-spacing: -1px;
  line-height: 0.8;
  text-align: left;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #23364d;
}
h3 {
  margin: 0;
  font-weight: 200;
}

.header {
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: start;
  font: Arial, sans-serif;
  text-wrap: wrap;
  margin: auto;
  padding: 24px;
  height: 200px;
}

.actionsection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.actionsubsection {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

.actioncards {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 130px;
  border: 1px solid #a9bcd0;
  border-radius: 5px;
  padding: 6px;
}

.section {
  padding: 12px;
}

.left {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
  width: 50%;
  background-color: #2e8b57;
  overflow: hidden;
  height: 100vh;
}

.right {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
}

.rightscroll {
  width: 50%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
}
