body {
  width: 100%;
  margin: auto;
  padding: 0;
  background-color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
  font-size: 14px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #d8dbe2;
  font-size: 62px;
  letter-spacing: -1px;
  line-height: 0.8;
  text-align: left;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: capitalize;
  color: #000;
  font-weight: 500;
}
h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  font-weight: 200;
}

h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 0 8px 0;
  font-size: large;
  font-weight: 200;
  letter-spacing: 1px;
  font-style: italic;
}

ul {
  list-style: none;
  padding: 10px 0px;
}

ul:nth-child(2) li:before {
  content: "✓";
}

li:before {
  content: "⊚";
}

li span {
  position: relative;
  left: 5px;
}

.header {
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: start;
  font: Arial, sans-serif;
  text-wrap: wrap;
  margin: auto;
  padding: 24px;
  height: 200px;
  color: #d8dbe2;
}

.actionsection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.actionsubsection {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.actioncards {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  width: 90%;
  text-align: center;
  border: 1px solid #375372;
  border-radius: 5px;
  padding: 6px;
  background-color: #375372;
  color: #fff;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  gap: 24px;
}
.grid-item {
  color: #fff;
  text-wrap: wrap;
  border: 1px solid #375372;
  background-color: #375372;
  border-radius: 5px;
  padding: 20px;
}

.section {
  padding: 20px;
  width: 100%;
  margin: auto;
}

.left {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
  width: 50%;
  background-color: #375372;
  overflow: hidden;
  height: 100vh;
}

.right {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
}

.services {
  border: #000 1px solid;
  display: flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  text-wrap: wrap;
  text-align: center;
  width: calc(100% / 3);
  height: 70px;
  border-radius: 5px;
  background-color: #375372;
  color: #fff;
}

.servicescontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
}

.rightscroll {
  width: 50%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
}

.circleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.circle {
  border: #000000 1px solid;
  height: 60px;
  width: 220px;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background: #375372;
  vertical-align: top;
  text-align: center;
  padding: 4px;
  color: #ffffff;
  margin: 4px;
}

hr.dotted {
  border-top: 1px dotted #2e8b57;
  width: 100%;
}
